.undo{
  text-align: center;
}

.undo:hover{
  cursor: pointer;
}

#myTable_filter{
  text-align: center;
  float: none;
}

input{
  border-radius: 5px;
  width: 400px;
}

#add-player-heading{
  text-align: center;
}

h1, h3{
  text-align: center;
}

#available-players{
  margin-top: 50px;
}

.glyphicon{
  color: rgb(40, 176, 255);
  cursor: pointer;
}

td, th{
  text-align: center; 
}
button[disabled]{
  cursor:not-allowed;
}

.disabled{
  cursor: not-allowed;
}



*{
  /*border: 1px solid red*/
}