html, body{
    overflow-x: hidden; 
}

.undo{
  text-align: center;
}

.undo:hover{
  cursor: pointer;
}

#myTable_filter{
  text-align: center;
  float: none;
}

#myTable_filter:first-child{
  color: white;
  font-size: 16px;
}

input{
  border-radius: 5px;
  width: 400px;
  color: black;
}

#add-player{
  text-align: center;
}

h1, h3{
  text-align: center;
}

#available-players{
  margin-top: 50px;
}

.glyphicon{
  color: rgb(40, 176, 255);
  cursor: pointer;
}

td, th{
  text-align: center; 
}
button[disabled]{
  cursor:not-allowed;
}

.disabled{
  cursor: not-allowed;
}

.page-header{
  margin-top: 0;
  padding-top: 0;
  height: 550px;
  background: url(./nfl-teams.jpg) no-repeat fixed center;
  background-size: cover;
  /*width: 100%;*/
}

.header-text{
  margin-top: 0;
  color: white;
  font-size: 53px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.navbar{
  margin:0;
}

#malfatti{
  display: inline-block;
  padding-left: 4px;
}

.container{
  max-width: 900px;
  margin: 0 auto;
}

#about, #strategy, #contact{
  text-align: justify;
}

strong{
  color: white;
}
@media screen and (max-width: 600px){
  body, html{
    overflow-x: auto;
  }
}

@media screen and (max-width: 768px){
  #malfatti-li{
    padding-left: 15px; 
  }
}

/*.even{
  background-color: black; 
}

.odd{
  background-color: rgb(100, 100, 100);
}*/

*{
  /*border: 1px solid red*/
}
