.undo{
  text-align: center;
}

.undo:hover{
  cursor: pointer;
}

#myTable_filter{
  text-align: center;
  float: none;
}

input{
  border-radius: 5px;
}

#add-player-heading{
  text-align: center;
}

h1{
  text-align: center;
}